# Banco de Dados
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nome_banco
DB_USERNAME=usuario_banco
DB_PASSWORD=senha_banco

# Json Web Token
JWT_SECRET=palavra_muito_secreta

# PgAdmin 4
PGADMIN_DEFAULT_EMAIL=email@email.com
PGADMIN_DEFAULT_PASSWORD=Senha@123