# ==============================================================================
# INSTRUÇÕES DE CONFIGURAÇÃO
# ==============================================================================
# 💡 RECOMENDAÇÃO: Para fins de testes, mantenha os valores padrão.
# ==============================================================================

# --- BANCO DE DADOS (PostgreSQL) ---
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=db_vendas_example
DB_USERNAME=vendas_example
DB_PASSWORD=Vendas@123_example

# --- SEGURANÇA (JWT) ---
# 🔐 Mude esta chave em ambiente de produção!
JWT_SECRET=palavra_muito_secreta
